.main {
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
}

.adornment-button {
    display: inline-block;
    height: 32px;
    padding: 0 6px;
    box-sizing: border-box;
    width: 80px;
    font-size: '12px';
    font-weight: 600;
}

.section {
    display: inline;
}